fastapi
uvicorn[standard]
pydantic
pandas
numpy
joblib
yfinance
matplotlib
seaborn
scikit-learn==1.6.1
xgboost==3.0.5
ipywidgets
ipython
notebook
google-generativeai
google-genai
requests
python-dotenv
tqdm
typing-extensions
