fastapi
uvicorn[standard]
pydantic
pandas
numpy
joblib
yfinance
matplotlib
seaborn
scikit-learn
xgboost
ipywidgets
ipython
notebook
google-generativeai
google-genai
requests
python-dotenv
tqdm
typing-extensions
